a, a.winner {
    color: darkcyan
}

a.loser {
    color: coral
}

.profile-info{
    font-size: 16px;
}

img.avatar {
    max-width: 250px;
    max-height: 250px;
}

.scores {
    font-family: Courier New, Courier, monospace;
}