<!DOCTYPE html>
<html lang="en">
    <head>
        <meta name="description" content="Game bots for Slack teams. Ping pong bot, chess bot, pool bot and tic-tac-toe bot for Slack. Challenges and rankings.">
        <meta name="og:description" content="Game bots for Slack teams. Ping pong bot, chess bot, pool bot and tic-tac-toe bot for Slack. Challenges and rankings.">
        <meta name="keywords" content="slack,ping,pong,ping-pong,chess,pool,billiards,tic-tac-toe,slack,bot,leaderboard">
        <title>PlayPlay.io - Ping Pong Bot, Chess Bot, Pool Bot and Tic Tac Toe Bot for Slack</title>
        <%= partial 'public/partials/_head.html' %>
    </head>
    <body id="page-top" class="index">
        <div class="container">
            <div id="leaderboard"></div>
            <div id="recent-matches"></div>
        </div>
        <%= partial 'public/partials/_scripts.html' %>
        <!-- Slack -->
        <script src="js/register.js"></script>
        <script src="js/status.js"></script>
        <script src="js/toggle.js"></script>
        <!-- Uptime -->
        <script src="js/uptime.js"></script>
    </body>
</html>
