<!DOCTYPE html>
<html lang="en">
    <head>
        <title>SigPong</title>
        <%= partial 'public/partials/_head.html' %>
    </head>
    <body id="page-top" class="index">
        <div class="container">
            <div id="leaderboard">
                <h1>Leaderboard</h1>
            </div>
            <div id="recent-matches">
                <h1>Recent Matches</h1>
            </div>
             <div id="unranked-users">
                <h1>Unranked Players (&lt; 8 games played)</h1>
            </div>
        </div>
        <%= partial 'public/partials/_scripts.html' %>
    </body>
</html>
